{% extends "base.html" %}

{% block content %}
  <h2>Edit {{ pet.name }}</h2>

  {% if pet.photo_url %}
    <img src="{{ pet.photo_url }}" class="img-thumbnail mb-3" height="150">
  {% endif %}

 <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% include "pet_form_fields.html" %}
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a href="{{ url_for('home') }}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
